/* Variables */
:root {
	--error: hsl(0, 100%, 66%);
	--lightGrayishViolet: hsl(270, 3%, 87%);
	--darkGrayishViolet: hsl(279, 6%, 55%);
	--veryDarkViolet: hsl(278, 68%, 11%);
}

/* resets */
* {
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	outline: none;
	box-sizing: border-box;
}

/* fonts */
@font-face {
	font-family: SpaceGrotesk;
	src: url("../../assets/SpaceGrotesk-Medium.ttf");
}

/* base styles */
body {
	font-size: 18px;
	font-weight: 500;
	font-family: SpaceGrotesk;
	padding-bottom: 50px;
}

.container {
	max-width: 768px;
	margin: 0 auto;
}

/* mobile styles */
.left {
	background-image: url("../../images/bg-main-mobile.png");
	background-repeat: no-repeat;
	background-size: 100%;
	height: 230px;
	margin-bottom: 4em;
}
.cards {
	position: relative;
	padding-top: 2em;
	max-width: 400px;
	margin: 0 auto;
}
.cards img {
	width: 100%;
	max-width: 280px;
}
.card_back,
.card_front {
	position: absolute;
}
.card_back {
	right: 1em;
}
.card_front {
	left: 1em;
	top: 123px;
	height: 150px;
	box-shadow: -5px 10px 30px -15px var(--veryDarkViolet);
}
.card_cvv {
	color: var(--lightGrayishViolet);
	position: absolute;
	top: 68px;
	right: 35px;
	font-size: 0.6em;
}
.card_front div {
	position: absolute;
	color: var(--lightGrayishViolet);
}
.top_circles {
	margin: 0.7em 0 0 0.7em;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.5em;
}
.top_circles span {
	display: inline-block;
}
.top_circles span.big {
	width: 35px;
	height: 35px;
	border-radius: 30px;
	background-color: white;
}
.top_circles span.small {
	width: 15px;
	height: 15px;
	border-radius: 30px;
	border: 1px solid white;
}
.card_number {
	top: 50%;
	left: 0.7em;
	letter-spacing: 0.05em;
}
.card_name {
	top: 80%;
	font-size: 0.6em;
	left: 1em;
	text-transform: uppercase;
}
.card_expiry_date {
	top: 80%;
	right: 1em;
	font-size: 0.6em;
	letter-spacing: 1.3px;
}


.form.active {
	display: none;
}

/* Styling the modal */
.modal {
	text-align: center;
	margin-top: 100px;
	flex-direction: column;
	gap: 1em;
	display: none;
	transform: scale(0);
	opacity: 0;
	transition: transform 3s forwards ease-in-out;
}
.modal.active {
	display: flex;
	transform: scale(1);
	opacity: 1;
}
.modal img {
	width: 100%;
	max-width: 80px;
	margin: 0 auto;
}
.modal h3 {
	text-transform: uppercase;
	word-spacing: 5px;
	letter-spacing: 5px;
	font-weight: 400;
	margin-top: 15px;
	color: var(--veryDarkViolet);
}
.modal .added {
	color: var(--darkGrayishViolet);
}
.modal button {
	background-color: var(--veryDarkViolet);
	width: 85%;
	margin: 0 auto;
	padding: 1.3em;
	color: white;
	letter-spacing: 1.3px;
	font-size: .8em;
	border-radius: 8px;
	margin-top: 20px;
	cursor: pointer;
}

/* Styling the form */
form {
	padding: 0 1em;
	display: block;
}
form.active {
	display: none;
}
form div {
	margin-bottom: 1em;
}
form label {
	margin-bottom: 0.5em;
	text-transform: uppercase;
	font-size: 0.75em;
	display: block;
	letter-spacing: 1.3px;
}
form input {
	border: 1px solid var(--lightGrayishViolet);
	width: 100%;
	padding: 0.8em;
	border-radius: 5px;
	font-family: SpaceGrotesk;
	font-size: 1em;
	font-weight: 600;
	color: var(--veryDarkViolet);
}
form input::-webkit-outer-spin-button,
form input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
form input[type='number'] {
  -moz-appearance: textfield;
}
form input:focus {
	border: 1px solid var(--veryDarkViolet);
}
form input.unapproved {
	border: 1px solid var(--error);

}
form input::placeholder {
	color: var(--lightGrayishViolet);
	font-size: 1em;
	font-weight: 600;
}
.exp_cvc {
	display: flex;
	gap: 1em;
	margin-bottom: 0;
}
.mm_yy {
	display: flex;
	gap: 0.5em;
	margin-bottom: 0;
}
.mm_yy input {
	width: 22vw;
}
span.err_msg {
	color: var(--error);
	font-size: .65em;
	display: none;
}
.confirm {
	background-color: var(--veryDarkViolet);
	width: 100%;
	padding: 0.9em;
	color: white;
	border-radius: 5px;
	font-size: 0.9em;
	font-weight: 600;
	cursor: pointer;
	letter-spacing: 1.1px;
}

button[type='reset'] {
	background-color: var(--veryDarkViolet);
	color: white;
	padding: .3em;
	border-radius: 3px;
	font-family: SpaceGrotesk;
	position: absolute;
	top: 0;
	left: 0;
	font-size: .5em;
	cursor: pointer;
}

/* Desktop styles */
@media screen and (min-width: 1200px) {
    body {
        padding-bottom: 0px;
    }
	.container {
		max-width: 1400px;
		display: flex;
        max-height: 100vh;
        margin: 0 auto;
	}
	.left {
		width: 30vw;
		height: 100vh;
		background-image: url("../../images/bg-main-desktop.png");
		background-size: 160%;
	}
    .cards {
        position: relative;
        top: 50%;
        margin-top: -40%;
        transform: translate(50%);
    }
    .card_back {
        transform: translate(5%,87%);
        height: 150px;
		box-shadow: 15px 20px 10px -17px var(--veryDarkViolet);
    }
    .card_front {
        transform: translate(-15%, -87%);
    }
    .right {
        display: flex;
        justify-content: center;
        align-items: center;
		width: 100%;
    }
    .right form {
        width: 100%;
        max-width: 35vw;
        transform: translateX(70%);
    }
    .mm_yy input {
        width: 100%;
    }
	.modal {
		transform: translateX(50%);
		width: 100%;
	}
	.modal button {
		width: 100%;
		margin: 0 auto;
		max-width: 330px;
		padding: 1em;
		margin-top: 2em;
	}
}
